*           text=auto eol=lf
*.php       text eol=lf
*.blade.php text eol=lf
*.js        text eol=lf
*.css       text eol=lf
*.md        text eol=lf
*.sh        text eol=lf
*.ps1       text eol=crlf
*.bat       text eol=crlf
